page-sales-navigate {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      height: 100px;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.1em;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      top: 52%;
      margin-top:13px;
      padding: 5px;
      width: 100%;
      color: #fff;
    }

  }
}
