<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid class="profile-bg">
    <ion-row>
      <ion-col col-12>
        <img src="assets/img/images.png" class="profile-avatar-image" *ngIf="!user?.foto">
        <img [src]="user?.foto" class="profile-avatar-image" *ngIf="user?.foto">
        <p class="card-title-md-light">{{user?.name}}</p>
        <h4 class="card-title-md-light">Manager</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/img/name.png">
    </ion-avatar>
    <h3>{{user?.nik}}</h3>
  </ion-item>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/img/card1.png">
    </ion-avatar>
    <h3>{{user?.name}}</h3>
  </ion-item>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/img/company.png">
    </ion-avatar>
    <h3>{{user?.company_name}}</h3>
  </ion-item>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/img/card.png">
    </ion-avatar>
    <h3>{{user?.department_name}}</h3>
  </ion-item>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/img/email.png">
    </ion-avatar>
    <h3>{{user?.email}}</h3>
  </ion-item>
  <button ion-button color="primary" block (click)="logout()" *ngIf="!this.running">LogOut</button>
  <button ion-button color="primary" block (click)="logout()" *ngIf="this.running">LogOut</button>
</ion-content>
