<ion-header>
  <ion-navbar>
    <ion-title>Approval List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="has-header">
  <ion-list>
    <ion-item (click)="openDetailPage()" (click)="presentloading()" *ngIf="roleRQO">
      <ion-avatar item-start>
        <img src="assets/img/person-flat.png">

      </ion-avatar>
      <h2>Approval Request Order Data </h2>
      <span ion-button item-end class="badge badge-assertive" color="twitter"
            round>{{requestApprovalData?.length}}</span>
    </ion-item>
    <ion-item (click)="openDetailPage1()" (click)="presentloading()" *ngIf="rolePOC">
      <ion-avatar item-start>
        <img src="assets/img/person-flat.png">
      </ion-avatar>
      <h2>Approval Purchase Order Customer Data </h2>
      <span ion-button item-end class="badge badge-assertive" color="twitter" round>{{pocApprovalData?.length}}</span>
    </ion-item>
  </ion-list>
</ion-content>
